credentials: user:pass
up_api: https://nyaa.si/api/v2/upload
announces: ["http://nyaa.tracker.wf:7777/announce"]

preferences:
    random_snapshots: false # If you want to take random snapshots from the video.
    trusted: false
    edit_code:  # If you keep it blank, it will be random.
    info: mal # This will be put to Information part. ('mal' will put Myanimelist link in it if can.)
    mal: true # Use MyAnimeList.net to add anime original name to display name.
    mediainfo: true # If attach mediainfo to the torrent (provider rentry.co)
    add_pub_trackers: false # true if you want to add https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_best.txt trackers to your torrent