providers:
  - name: nyaasi
    domain: https://nyaa.si
    credentials: user:pass
    announces:
      - http://nyaa.tracker.wf:7777/announce

torrent_creator: torf # torrenttools, torf

preferences:
  add_pub_trackers: false # If you want to include https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_best.txt trackers in the torrent
  advert: "" # Advert to put in description.
  database: myanimelist # What database to use for info and title in display name. AniList or MyAnimeList
  edit_code: # If you keep it blank, it will be random.
  id: "" # Telegram channel id
  info: database # Information in Nyaa. Use `database` for MyAnimeList or AniList link.
  keksh_key: "" # api key for bigger images and for easier manage
  mediainfo: true # attach Mediainfo to the torrent by Rentry.co
  random_snapshots: false # If you want to take random snapshots from the video.
  real_length: false # In description audio and subs len will be the real length and not languages count
  telegram: false # Send a telegram post if possible.
  token: "" # Telegram bot token
  trusted: false # If you can upload as trusted will be marked as trusted.
  watch_dir: "" # Watch directory for torrents, the file will be copied here.
